/* #2bff70 */
/* #00C75E */

body {
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h2,h3,h4,h5,p {
  color: #313131;
}

p,button{
  font-size: 1.5rem;
}

.color-red {
  color: #d42e1f;
}

.btn {
  background-color: #00C75E;
  color: white;
  padding: 1em 1.5em;
  border: none;
  border-radius: 2em;
  white-space: nowrap;
  max-width: 100%;
  height: auto;
  display: flex;
}

.arrow {
  height: 1.5em;
  margin-left: 1em;
}

.d_flex {
  display: flex;
}

.fix-top {
  position: fixed;
  top: 0.8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 706px;
  z-index: 10;
}

.fix-top div {
  width: auto;
}

.header_container {
  width: 70vw;
  padding: 1em 1em;
  border-radius: 3.5em;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header_logo{
  margin: auto;
  margin-left: 1em;
  display: inline-block;
  width: 40%;
  height: auto;
}


@media (max-width: 999px) {
  p,button {
  font-size: 0.75em;
  }
  }