/* #2bff70 */
/* #00C75E */
/* f0f5f7 */
/* d42e1f */

body {
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.mt-3 {
  margin-top: 3em;
}

h1,h2,h3,h4,h5,p {
  color: #313131;
}

button{
  font-size: 3vmin;
}


.underline {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.color-red {
  color: #d42e1f;
}

.color-white {
  color: white;
}

.btn {
  width: auto;
  background-color: #00C75E;
  padding: 1em 1.5em;
  border: none;
  border-radius: 2em;
  white-space: nowrap;
  max-width: 100%;
  height: auto;
  display: flex;
}

.btn:hover{
  background-color: #2bff70;
}

.btn a {
  display: flex;
  text-decoration: none;
  color: white;
}

.arrow {
  height: 1.5em;
  margin-left: 1em;
}

.d_flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* header */
.fix-top {
  margin: 1em 0 0 auto;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.fix-top div {
  margin: auto;
  width: 50vw;
}

section {
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}

section .section-container {
  margin: auto;
  width: 60vw;
}

.w-30 {
  width: 30%;
  padding: 1em;
}

.w-70 {
  width: 70%;
  padding: 1em;
}
 
.img-container img {
  width: 100%;
}

.article-wrapper {
  margin: 2.5em 2em;
}

.text-aline-center {
  text-align: center;
}

/* header */
.header_container {
  padding: 1em 1em;
  border-radius: 3.5em;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header_logo{
  margin: auto;
  margin-left: 1em;
  display: inline-block;
  width: 40%;
  height: auto;
}

/* heroイメージ */
.hero img {
  margin: 0;
  margin-top: 7em;
  width: 100%;
}

/* section 03 */
section .bg-red {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #d42e1f;
}

.bg-red .article-wrapper {
  display: flex;
  align-items: center
}

/* section 04 */
.bg-lgray {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f0f5f7;
}

.bg-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}

/* section 05 */
.section5-image-wrappar img{
  width: 100%;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .fix-top div {
      margin: auto;
      width: 70vw;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    section {
      width: 100%;
    }

    section .section-container {
      margin: auto;
    }
  
    .fix-top div {
      margin: auto;
      width: 90vw;
    }
}

